In [2]:
pip install pandas altair

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/86/41/585a168330ff063014880a80d744219dbf1dd7a1c706e75ab3425a987384/pandas-2.3.3-cp312-cp312-win_amd64.whl.metadata
  Using cached pandas-2.3.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting altair
  Obtaining dependency information for altair from https://files.pythonhosted.org/packages/aa/f3/0b6ced594e51cc95d8c1fc1640d3623770d01e4969d29c0bd09945fafefa/altair-5.5.0-py3-none-any.whl.metadata
  Using cached altair-5.5.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\mdzik\pycharmprojects\datasciencecareers\.venv\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mdzik\pycharmprojects\datasciencecareers\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/81/c4/34e93fe5f5429d7570ec1fa436f1986fb1f00c3e0f43a589fe2bbcd22c3f/pytz-2025.2-py2.py3-none-any.whl.metadata
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mdzik\pycharmprojects\datasciencecareers\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: jinja2 in c:\users\mdzik\pycharmprojects\datasciencecareers\.venv\lib\site-packages (from altair) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in c:\users\mdzik\pycharmprojects\datasciencecareers\.venv\lib\site-packages (from altair) (4.25.1)
Collecting narwhals>=1.14.2 (from altair)
  Obtaining dependency information for narwhals>=1.14.2 from https://files.pythonhosted.org/packages/29/13/024ae0586d901f8a6f99e2d29b4ae217e8ef11d3fd944cdfc3bbde5f2a08/narwhals-2.10.0-py3-none-any.whl.metadata
  Downloading narwhals-2.10.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: packaging in c:\users\mdzik\pycharmprojects\datasciencecareers\.venv\lib\site-packages (from altair) (25.0)
Requirement already satisfied: typing-extensions>=4.10.0 in c:\users\mdzik\pycharmprojects\datasciencecareers\.venv\lib\site-packages (from altair) (4.15.0)
Requirement already satisfied: attrs>=22.2.0 in c:\users\mdzik\pycharmprojects\datasciencecareers\.venv\lib\site-packages (from jsonschema>=3.0->altair) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\mdzik\pycharmprojects\datasciencecareers\.venv\lib\site-packages (from jsonschema>=3.0->altair) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\mdzik\pycharmprojects\datasciencecareers\.venv\lib\site-packages (from jsonschema>=3.0->altair) (0.37.0)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\mdzik\pycharmprojects\datasciencecareers\.venv\lib\site-packages (from jsonschema>=3.0->altair) (0.28.0)
Requirement already satisfied: six>=1.5 in c:\users\mdzik\pycharmprojects\datasciencecareers\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\mdzik\pycharmprojects\datasciencecareers\.venv\lib\site-packages (from jinja2->altair) (3.0.3)
Using cached pandas-2.3.3-cp312-cp312-win_amd64.whl (11.0 MB)
Using cached altair-5.5.0-py3-none-any.whl (731 kB)
Downloading narwhals-2.10.0-py3-none-any.whl (418 kB)
   ---------------------------------------- 0.0/418.1 kB ? eta -:--:--
   ---------------------------------------- 0.0/418.1 kB ? eta -:--:--
    --------------------------------------- 10.2/418.1 kB ? eta -:--:--
   -- ------------------------------------ 30.7/418.1 kB 435.7 kB/s eta 0:00:01
   ----- --------------------------------- 61.4/418.1 kB 469.7 kB/s eta 0:00:01
   ---------- --------------------------- 112.6/418.1 kB 656.4 kB/s eta 0:00:01
   ---------------------- ----------------- 235.5/418.1 kB 1.0 MB/s eta 0:00:01
   ---------------------------------------- 418.1/418.1 kB 1.5 MB/s eta 0:00:00
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Installing collected packages: pytz, narwhals, pandas, altair
Successfully installed altair-5.5.0 narwhals-2.10.0 pandas-2.3.3 pytz-2025.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import altair as alt

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
alt.data_transformers.enable('json')

DataTransformerRegistry.enable('json')

In [8]:
file_path = 'Data Science Jobs Salaries.csv'

In [9]:
df = pd.read_csv(file_path)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           245 non-null    object
 1   experience_level    245 non-null    object
 2   employment_type     245 non-null    object
 3   job_title           245 non-null    object
 4   salary              245 non-null    int64
 5   salary_currency     245 non-null    object
 6   salary_in_usd       245 non-null    int64
 7   employee_residence  245 non-null    object
 8   remote_ratio        245 non-null    int64
 9   company_location    245 non-null    object
 10  company_size        245 non-null    object
dtypes: int64(3), object(8)
memory usage: 21.2+ KB

In [13]:
df.describe()

             salary  salary_in_usd  remote_ratio
count  2.450000e+02     245.000000    245.000000
mean   5.025418e+05   99868.012245     69.183673
std    2.276230e+06   83983.326949     37.593421
min    4.000000e+03    2876.000000      0.000000
25%    6.000000e+04   45896.000000     50.000000
50%    1.030000e+05   81000.000000    100.000000
75%    1.740000e+05  130000.000000    100.000000
max    3.040000e+07  600000.000000    100.000000

In [14]:
print(df)

    work_year experience_level employment_type                  job_title  \
0       2021e               EN              FT    Data Science Consultant
1        2020               SE              FT             Data Scientist
2       2021e               EX              FT       Head of Data Science
3       2021e               EX              FT               Head of Data
4       2021e               EN              FT  Machine Learning Engineer
..        ...              ...             ...                        ...
240      2020               SE              FT             Data Scientist
241     2021e               MI              FT   Principal Data Scientist
242      2020               EN              FT             Data Scientist
243      2020               EN              CT      Business Data Analyst
244     2021e               SE              FT       Data Science Manager

      salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0      54000             EUR          64369                 DE            50
1      60000             EUR          68428                 GR           100
2      85000             USD          85000                 RU             0
3     230000             USD         230000                 RU            50
4     125000             USD         125000                 US           100
..       ...             ...            ...                ...           ...
240   412000             USD         412000                 US           100
241   151000             USD         151000                 US           100
242   105000             USD         105000                 US           100
243   100000             USD         100000                 US           100
244  7000000             INR          94917                 IN            50

    company_location company_size
0                 DE            L
1                 US            L
2                 RU            M
3                 RU            L
4                 US            S
..               ...          ...
240               US            L
241               US            L
242               US            S
243               US            L
244               IN            L

[245 rows x 11 columns]

In [17]:
# mapowanie nazw, skróty en,mi,se,ex zmienam na pełne nazwy

In [18]:
level_map = {
    'EN': 'Entry-level (Początkujący)',
    'MI': 'Mid-level (Średniozaaw.)',
    'SE': 'Senior-level (Senior)',
    'EX': 'Executive (Ekspert/Zarządz.)'
}

In [19]:
#tworzymy nową kolumnę 'experience_level_full' używając mapy

In [20]:
df['experience_level_full'] = df['experience_level'].map(level_map)

In [21]:
#weryfikacja
print("próbka danych po mapowaniu")
print(df[['experience_level', 'experience_level_full']].head())

próbka danych po mapowaniu
  experience_level         experience_level_full
0               EN    Entry-level (Początkujący)
1               SE         Senior-level (Senior)
2               EX  Executive (Ekspert/Zarządz.)
3               EX  Executive (Ekspert/Zarządz.)
4               EN    Entry-level (Początkujący)

In [22]:
print("rozkład poziomów doświadczenia")
print(df['experience_level_full'].value_counts())

rozkład poziomów doświadczenia
experience_level_full
Mid-level (Średniozaaw.)        103
Senior-level (Senior)            77
Entry-level (Początkujący)       54
Executive (Ekspert/Zarządz.)     11
Name: count, dtype: int64

In [24]:
#analiza Stanowisk

In [25]:
#ile razy występuje każde stanowisko
#bierzemy 10 najczęstszych
top_jobs = df['job_title'].value_counts().head(10).reset_index()
top_jobs.columns = ['job_title', 'count'] #zmiana nazwy kolumn

print("top 10 Najpopularniejszych Stanowisk")
print(top_jobs)

top 10 Najpopularniejszych Stanowisk
                   job_title  count
0             Data Scientist     59
1              Data Engineer     38
2  Machine Learning Engineer     20
3               Data Analyst     20
4         Research Scientist     10
5    Data Science Consultant      7
6          Big Data Engineer      6
7            BI Data Analyst      5
8         Lead Data Engineer      5
9               AI Scientist      5

In [26]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,experience_level_full
0,2021e,EN,FT,Data Science Consultant,54000,EUR,64369,DE,50,DE,L,Entry-level (Początkujący)
1,2020,SE,FT,Data Scientist,60000,EUR,68428,GR,100,US,L,Senior-level (Senior)
2,2021e,EX,FT,Head of Data Science,85000,USD,85000,RU,0,RU,M,Executive (Ekspert/Zarządz.)
3,2021e,EX,FT,Head of Data,230000,USD,230000,RU,50,RU,L,Executive (Ekspert/Zarządz.)
4,2021e,EN,FT,Machine Learning Engineer,125000,USD,125000,US,100,US,S,Entry-level (Początkujący)

In [28]:
#top 10 Stanowisk (słupkowy)
chart_top_jobs = alt.Chart(top_jobs).mark_bar().encode(
    
    x=alt.X('job_title', title='Stanowisko', sort='-y'),
    y=alt.Y('count', title='Liczba Ofert'),
    tooltip=[
        alt.Tooltip('job_title', title='Stanowisko'),
        alt.Tooltip('count', title='Liczba Ofert')
    ]
).properties(
    title='Top 10 Najpopularniejszych Stanowisk w Data Science',
    width=800
).interactive()

chart_top_jobs.save('top_10_jobs.html')

In [29]:
#analiza Zarobków vs doświadczenie

In [30]:
average_salary_by_level = df.groupby('experience_level_full')['salary_in_usd'].mean().reset_index()

In [31]:
print("Średnia pensja (USD) wg poziomu doświadczenia")
print(average_salary_by_level.sort_values(by='salary_in_usd', ascending=False))

Średnia pensja (USD) wg poziomu doświadczenia
          experience_level_full  salary_in_usd
1  Executive (Ekspert/Zarządz.)  226288.000000
3         Senior-level (Senior)  128841.298701
2      Mid-level (Średniozaaw.)   85738.135922
0    Entry-level (Początkujący)   59753.462963

In [32]:
level_order = [
    'Entry-level (Początkujący)', 
    'Mid-level (Średniozaaw.)', 
    'Senior-level (Senior)', 
    'Executive (Ekspert/Zarządz.)'
]

In [35]:
chart_salary_level = alt.Chart(df).mark_boxplot().encode(
    x=alt.X('experience_level_full', title='Poziom Doświadczenia', sort=level_order),
    y=alt.Y('salary_in_usd', title='Roczna Pensja (USD)'),
    tooltip=[
        alt.Tooltip('experience_level_full', title='Poziom'),
        alt.Tooltip('salary_in_usd', title='Pensja (USD)', format=',.0f')
    ]
).properties(
    title='Rozkład zarobków (USD) wg poziomu doświadczenia',
    width=800
).interactive()

chart_salary_level.save('salary_vs_experience.html')

In [36]:
#analiza trendów czasowych
#obliczanie mediany pensji dla każdego roku i poziomu doświadczenia
#grupujemy jednocześnie po dwóch kolumnach

In [37]:
salary_trends = df.groupby(['work_year', 'experience_level_full'])['salary_in_usd'].median().reset_index()

In [38]:
print("Mediana pensji (USD) wg roku i poziomu")
print(salary_trends.head())

Mediana pensji (USD) wg roku i poziomu
  work_year         experience_level_full  salary_in_usd
0      2020    Entry-level (Początkujący)        45896.0
1      2020  Executive (Ekspert/Zarządz.)       202416.5
2      2020      Mid-level (Średniozaaw.)        78395.5
3      2020         Senior-level (Senior)       120000.0
4     2021e    Entry-level (Początkujący)        59601.0

In [39]:
level_order = [
    'Entry-level (Początkujący)', 
    'Mid-level (Średniozaaw.)', 
    'Senior-level (Senior)', 
    'Executive (Ekspert/Zarządz.)'
]

In [40]:
chart_salary_trends = alt.Chart(salary_trends).mark_line(point=True).encode(
    # Oś X to rok. Musimy go potraktować jako 'Ordinal' (kolejnościowy), aby uniknąć lat typu "2020.5"
    
    x=alt.X('work_year:O', title='Rok'),
    y=alt.Y('salary_in_usd', title='Mediana Pensji (USD)'),
    
    # Tosobna linię dla każdego poziomu doświadczenia
    color=alt.Color('experience_level_full', 
                    title='Poziom Doświadczenia',
                    sort=level_order # Sort leg
                   ),
    
    tooltip=[
        alt.Tooltip('work_year', title='Rok'),
        alt.Tooltip('experience_level_full', title='Poziom'),
        alt.Tooltip('salary_in_usd', title='Mediana Pensji', format=',.0f')
    ]
).properties(
    title='Wzrost mediany zarobków w Data Science (2020-2024)',
    width=800
).interactive()

chart_salary_trends.save('salary_growth_trends.html')

In [41]:
#Analiza geograficzna

In [42]:
top_10_countries = df['company_location'].value_counts().head(10).index.tolist()

In [43]:
print(f"Top 10 krajów (lokalizacji firm) z największą liczbą ofert: {top_10_countries}")

Top 10 krajów (lokalizacji firm) z największą liczbą ofert: ['US', 'DE', 'IN', 'GB', 'CA', 'FR', 'ES', 'JP', 'AT', 'TR']

In [44]:
df_top_countries = df[df['company_location'].isin(top_10_countries)]

In [45]:
median_salary_by_country = df_top_countries.groupby('company_location')['salary_in_usd'].median().reset_index()

In [46]:
print(median_salary_by_country.sort_values(by='salary_in_usd', ascending=False))

  company_location  salary_in_usd
7               JP       121000.0
9               US       120000.0
1               CA        96357.0
5               GB        80240.5
2               DE        79833.0
0               AT        74130.0
4               FR        53641.0
3               ES        47681.0
6               IN        22671.0
8               TR        21843.0

In [47]:
chart_country_salary = alt.Chart(median_salary_by_country).mark_bar().encode(
    # Sortujemy słupki od największego
    x=alt.X('company_location', title='Lokalizacja Firmy', sort='-y'),
    y=alt.Y('salary_in_usd', title='Mediana Pensji (USD)'),
    tooltip=[
        alt.Tooltip('company_location', title='Kraj'),
        alt.Tooltip('salary_in_usd', title='Mediana Pensji', format=',.0f')
    ]
).properties(
    title='Mediana zarobków w Data Science (Top 10 krajów wg liczby ofert)',
    width=800
).interactive()

chart_country_salary.save('salary_by_country.html')

In [48]:
#analiza wielkości firmy

In [49]:
size_map = {
    'S': 'Small (Mała)',
    'M': 'Medium (Średnia)',
    'L': 'Large (Duża)'
}

In [50]:
df['company_size_full'] = df['company_size'].map(size_map)

In [51]:
median_salary_by_size = df.groupby('company_size_full')['salary_in_usd'].median().reset_index()

In [52]:
print(median_salary_by_size.sort_values(by='salary_in_usd', ascending=False))

  company_size_full  salary_in_usd
0      Large (Duża)        91500.0
1  Medium (Średnia)        71968.0
2      Small (Mała)        68364.5

In [53]:
size_order = ['Small (Mała)', 'Medium (Średnia)', 'Large (Duża)']

In [56]:
chart_size_salary = alt.Chart(median_salary_by_size).mark_bar().encode(
    x=alt.X('company_size_full', title='Wielkość Firmy', sort=size_order),
    y=alt.Y('salary_in_usd', title='Mediana Pensji (USD)'),
    tooltip=[
        alt.Tooltip('company_size_full', title='Wielkość Firmy'),
        alt.Tooltip('salary_in_usd', title='Mediana Pensji', format=',.0f')
    ]
).properties(
    title='Mediana zarobków w Data Science wg wielkości firmy',
    width=800
).interactive()

chart_size_salary.save('salary_by_company_size.html')